@import url(https://fonts.googleapis.com/css?family=Roboto:300);



.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.signup-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.errormessage{
 margin: 15px 0 0;
  color: #4CAF50;
  font-size: 12px;


}
.form textarea {
  resize : none;
}


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #ADD8E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.ptanai{
font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ADD8E6;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.ptanai:hover,.ptanai:focus{

 background: #43A047;
}
.form .img{

width:150px;
}

.fixedwidth
  {
    width:1050px;
    margin:0 auto;
  }
  #logodiv{
    padding-top:8px;
    padding-bottom:4px;
    float:left;
    border-right:1px solid #990000;
    padding-right:10px;
  }
  #signindiv
  {
    font-weight:bold;
    font-size:0.9em;
    padding:6px 80px 12px 20px;
    float:left;
    border-right:1px solid #990000;
  }
  #signindiv img{
    position:relative;
    top:7px;
  }
  #topmenudiv{
  float:left;
  }
  #topmenudiv ul
  {
    margin-top:0px;
    padding:0;
  }
  #topmenudiv li
  {
    list-style:none;
    font-weight:bold;
    font-size:0.9em;
    border-right:1px solid #990000;
    padding:10px 20px 10px 20px;
    float:left;
  }
  #searchdiv
  {
    float:left;
    padding:5px 0 0 10px;;
  }
  #searchdiv input
  {
    height:25px;
    border:none;
    padding-left:10px;
    background-image:url("images/search.png");
    background-repeat:no-repeat;
    background-position:right center;
  }
  
  #newsbar{
  background-color:#990000;
  width:100%;
  height:90px;
  color:white;
  
  }
  #break
  {
    clear:both;
  }
  #newsbar p
  {
    margin:0;
    padding:0;
    padding-top:10px;
    float:left;
  }
  #newsheader
  {
    font-size:3em;
    
  }
  #uk
  {
    font-size:0.7em;
    padding-left:10px;
  }
  #rss
  {
    float:right;
    margin-top:38px;
  }
  #topimenu
  {
  }
  #topicmenu ul
  {
    background-color:#3E0C0D;
    padding:1px 0 2px 5px;
    margin:0;
    height:17px;
  }
  #topicmenu li
  {
    list-style:none;
    font-size:0.8em;
    padding:0 6px 0 6px;
    float:left;
    background-colo:none;
    border-right:1px solid #990000;
    
  }
  .selected{
    background-color:#EDEDED;
    color:#666666;
    height:17px;
    position:relative;
    top:-1px;
    padding-top:3px !important
  }
  
  #content{
  width:100%; 
  color:#535353;
  font-size:0.8em;
  }
  .date
  {
    font-weight:bold;
  }
  h1
  {
    color:#1F4F82;
    font-size:2.5em;
  }
  .headline
  {
  float:left;
  width:400px;
  }
  .newsitem
  {
    position:relative;
    left:10px;
    width:150px;
    float:left;
    top:-15px;
    font-size:1.2em;
  }
  .newsitem a{
    color:#1F4F82;
    text-decoration:none;
  }
  .newsitem a:hover{
    text-decoration:underline;
  }
  .video
  {
    background-image:url("images/triangle.png");
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:20px;
  }
  #watchlist {
  background-color:#EEEEEE;
  float:right;
  width:380px;
  position:relative;
  top:-80px;
  
  }
  h2{
  color:#505050;
  margin:10px 0 10px 10px;
  font-size:1.8em;
  }

  .alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}